@section Dialog_YesOrNo{
    <dialog class="pop-up-window">
        <div class="pop-up-window-close">
            <input type="button" id="close-pop-up-window">
        </div>
        <div class="pop-up-window-head">
            <p>
                Вы подтверждаете удаление новости <br>
                <span>"Девушки захватили мир!"</span>
            </p>
        </div>
        <div class="pop-up-window-main">
            <form>
                <input type="button" id="yes" value="Да">
                <input type="button" id="no" value="Нет">
            </form>
        </div>
    </dialog>
}