@model NewsPortal.Models.ViewModels.RegisterViewModel

@section StyleSheet{
    @Styles.Render("~/bundles/stylesheet-Service", "~/bundles/stylesheet-Site")
}
<section class="Section-Registration">
    <div class="title-head">
        <span>Registration</span>
    </div>
    <div class="form-reg">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "registration-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("")
            @Html.EditorForModel()
            <input type="submit" value="Registration" />
        }
    </div>
</section>