@model NewsPortal.Models.ViewModels.Dialog.DialogViewModel

<div id="@Model.Id" class="popup-backdrop">
    <div class="popup-window">
        <div class="popup-window-close">
            <a href="#" name="close-popup-window"></a>
        </div>
        <div class="popup-window-head">
            <p>
                You confirm the deletion of the news<br>
                <span>"@Model.Title"</span>
            </p>
        </div>
        <div class="popup-window-main">
            @using (Html.BeginForm("DeleteNewsItem", "News", FormMethod.Post))
            {
                @Html.Hidden("newsItemId", Model.Id)
                <input type="submit" value="Yes" />
            }
            <a href="" name="close-popup-window">No</a>
        </div>
    </div>
</div>

