@using NewsPortal.Models.ViewModels
@model IEnumerable<NewsItemViewModel>
@section StyleSheet
{
    <link rel="stylesheet" href="~/Content/StyleSheet_MainPage.css" />
}
<section class="back-image">
    <div class="background-image">
        <!--Тут находится картиночка-->
    </div>
    <div class="background-text">
        <span>Новость дня</span> <br />
        <span>"Программисты захватили мир"</span>
    </div>
</section>
<section class="news-head">
    <span>Новости</span>
</section>
<section class="news-item">
    <!-- NewsItem -->
    @foreach (var item in Model)
    {
        using (Html.BeginForm("NewsItem", "News", FormMethod.Post, new { @class = "NewsItem-form" }))
        {
            <article>
                <div class="menu-news-item">
                    <input type="button" id="show-pop-up-window">
                    <!--Возможность добавления новые елементов-->
                </div>

                <dialog class="pop-up-window">
                    <div class="pop-up-window-close">
                        <input type="button" id="close-pop-up-window">
                    </div>
                    <div class="pop-up-window-head">
                        <p>
                            Вы подтверждаете удаление новости <br>
                            <span>"Девушки захватили мир!"</span>
                        </p>
                    </div>
                    <div class="pop-up-window-main">
                        <form>
                            <input type="submit" id="yes" value="Да">
                            <input type="submit" id="no" value="Нет">
                        </form>
                    </div>
                </dialog>

                <div class="Title">
                    <span>
                        @Html.DisplayFor(modelItem => item.Title)
                    </span>
                </div>
                <div class="NewsInformation">
                    <div class="NameUser">
                        @Html.DisplayFor(modelItem => item.User.Login)
                    </div>
                    <div class="CreationDate">
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </div>
                </div>
            </article>
        }
    }
</section>
