@section StyleSheet{
    @Styles.Render("~/bundles/stylesheet-Site", "~/bundles/stylesheet-Service", "~/bundles/stylesheet-Help")
}
<h1>Welcome to our site</h1>
@Html.ActionLink("To the news", "Index", "News")