@model NewsPortal.Models.ViewModels.NewsItemEditViewModel

@section StyleSheet
{

}

<div class="edit-form">
    @using (Html.BeginForm("SaveEditedNewsItem", "News", FormMethod.Post))
    {
        @Html.EditorForModel()
        <input type="submit" value="Сохранить изменения" />
    }
</div>