@model NewsPortal.Models.ViewModels.NewsItemEditViewModel

@section StyleSheet{
    <link rel="stylesheet" href="~/Content/StyleSheet_ServicePages.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
}

<section class="Section-NewsEdit">
    <div class="title-head">
        <span>
            Editing news
        </span>
    </div>
    <div class="form-news-edit">
        @using (Html.BeginForm("SaveEditedNewsItem", "News", FormMethod.Post))
        {
            @Html.EditorForModel()
            <input type="submit" value="Добавить" />
        }
    </div>
</section>

@section script{

}