@model NewsPortal.Models.ViewModels.NewsItemEditViewModel

@section StyleSheet{
    @Styles.Render("~/bundles/stylesheet-Site", "~/bundles/stylesheet-Service", "~/bundles/stylesheet-Help")
}
<section class="Section-NewsEdit">
    <div class="title-head">
        <span>News editing</span>
    </div>
    <div class="form-news-edit">
        @using (Html.BeginForm("Edit", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.EditorForModel()
            <div class="form-news-submits">
                <input type="submit" value="Save changes" class="btn-submit-edit" />
                <div>
                    <div class="file_upload">
                        <button type="button"></button>
                        <input type="file" name="uploadedImage" />
                    </div>
                    <div class="form-news-clean">
                        @Html.ActionLink(" ", "Add", "News")
                    </div>
                </div>
            </div>

        }
    </div>
   
</section>

@section script{
    <script src="~/CKEditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("Content", { height: 250 });
    </script>
<script>
        document.getElementById("previewTitle").innerHTML = document.getElementById("Title").innerHTML;
        var input = document.getElementById("Title");
        input.oninput = function () {
            document.getElementById("previewTitle").innerHTML = document.getElementById("Title").innerHTML;
        };

        var Context = CKEDITOR.instances.Content.getData();
        for (var i in CKEDITOR.instances) {
            CKEDITOR.instances[i].on('change', function () {
                Context = CKEDITOR.instances.Content.getData();
                document.getElementById("previewContent").innerHTML = Context;
            });
        }

</script>

}