@model NewsPortal.Models.ViewModels.NewsItemEditViewModel

@section StyleSheet{
    <link rel="stylesheet" href="~/Content/StyleSheet_ServicePages.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <script src="~/CKEditor/ckeditor.js"></script>
}

<section class="Section-NewsEdit">
    <div class="title-head">
        <span>News editing</span>
    </div>
    <div class="form-news-edit">
        @using (Html.BeginForm("Edit", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.EditorForModel()
            <div>
                <input type="file" name="uploadedImage" />
            </div>
            <div>
                <input type="submit" value="Edit" />
            </div>
        }
    </div>
   
</section>

@section script{
    <script>
        CKEDITOR.replace("Content", { height: 250 });
    </script>
<script>
        document.getElementById("previewTitle").innerHTML = document.getElementById("Title").innerHTML;
        var input = document.getElementById("Title");
        input.oninput = function () {
            document.getElementById("previewTitle").innerHTML = document.getElementById("Title").innerHTML;
        };

        var Context = CKEDITOR.instances.Content.getData();
        for (var i in CKEDITOR.instances) {
            CKEDITOR.instances[i].on('change', function () {
                Context = CKEDITOR.instances.Content.getData();
                document.getElementById("previewContent").innerHTML = Context;
            });
        }

</script>

}