@model NewsPortal.Models.ViewModels.NewsItemEditViewModel

@section StyleSheet{
    <link rel="stylesheet" href="~/Content/StyleSheet_ServicePages.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <script src="~/CKEditor/ckeditor.js"></script>
}

<section class="Section-NewsEdit">
    <div class="title-head">
        <span>News editing</span>
    </div>
    <div class="form-news-edit">
        @using (Html.BeginForm("Edit", "News", FormMethod.Post))
        {
            @Html.EditorForModel()
            <input type="submit" value="Добавить" />
        }
    </div>
</section>

@section script{
    <script>
        CKEDITOR.replace("Content", { height: 300 });
    </script>
}
