@model NewsPortal.Models.ViewModels.News.NewsItemMainPageViewModel

@section StyleSheet{
    <link rel="stylesheet" href="~/Content/StyleSheet_MainPage.css" />
}
    <section class="main-news-items">
        <div class="main-news-items-head">
            <span>
               @Html.DisplayTextFor(NewsItemMainPageViewModel => NewsItemMainPageViewModel.Title)
            </span>
        </div>
        <div class="main-news-items-content">
            <div class="image">
               
            </div>
            <div class="text">
                 @Html.DisplayTextFor(NewsItemMainPageViewModel => NewsItemMainPageViewModel.Content)
            </div>
        </div>
        <div class="main-news-items-footer">

        </div>
    </section>
