@model NewsPortal.Models.ViewModels.News.NewsItemMainPageViewModel

<div class="Preview">
    <div class="title-head">
        <span>Preview</span>
    </div>
    <div>
        <input type="button" name="AtricleShow" id="ArticleShow" value="Aritcle" />
        <article id="previewArticle">
            <div class="Title">
                <span>
                    <a href="#null" id="TitlePreview"></a>
                </span>
            </div>
            <div class="NewsInformation">
                <div class="NameUser">
                    @Model.UserName
                </div>
                <div class="CreationDate">
                    @Model.CreationDate
                </div>
            </div>
        </article>
    </div>
    <div>
        <input type="button" name="MainNewsShow" id="MainNewsShow" value="MainNews" />
        <div class="main-news-items" id="previewMainNews">
            <div class="main-news-items-info">
                <time class="main-news-items-time">
                    @Model.CreationDate
                </time>
                <section class="main-news-items-nameUser">
                    @Model.UserName
                </section>
            </div>
            <div class="main-news-items-head">
                <h1 id="TitlePreview-MainNews"></h1>
            </div>
            <div class="main-news-items-content">
                <section class="image" id="imagePreview"></section>
                <section class="text" id="textPreview"></section>
            </div>
        </div>
    </div>
</div>