@model NewsPortal.Models.ViewModels.News.NewsItemMainPageViewModel

<div class="Preview">
    <div class="title-head">
        <span>Preview</span>
    </div>
    <div>
        <input type="button" name="AtricleShow" id="Article" value="Aritcle" />
        <article class="preview-none">
            <div class="Title">
                <span>
                    <a href="#null"></a>
                </span>
            </div>
            <div class="NewsInformation">
                <div class="NameUser">
                    @Model.UserName
                </div>
                <div class="CreationDate">
                    @Model.CreationDate
                </div>
            </div>
        </article>
    </div>
    <div>
        <input type="button" name="MainNewsShow" id="MainContent" value="MainNews" />
        <div class="main-news-items preview-none">
            <div class="main-news-items-info">
                <time class="main-news-items-time">
                    @Model.CreationDate
                </time>
                <section class="main-news-items-nameUser">
                    @Model.UserName
                </section>
            </div>
            <div class="main-news-items-head">
                <h1></h1>
            </div>
            <div class="main-news-items-content">
                <section class="image"></section>
                <section class="text"></section>
            </div>
        </div>
    </div>
</div>