@section StyleSheet{
    @Styles.Render("~/bundles/stylesheet-Home", "~/bundles/stylesheet-Start")
}

<section class="back-image">
    <div class="background-image">
        <!--Тут находится картиночка-->
    </div>
    <div class="background-text">
        <span>Error 404. Page not found</span> <br />
    </div>
</section>