/*---------------------------------------------Основные настройки---------------------------------------------*/
main {
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}
/*---------------------------------------------Авторизация/Регистрация---------------------------------------------*/

.Section-Authorization {
    width: 400px;
    height: auto;
    padding: 10px;
    /*border: 1px solid white;*/
    /*border-radius: 5px;*/
}

.title-head, .login-FFF, .login-confirm, .login-footer {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.title-head {
    height: 50px;
    border-bottom: 2px solid white;
}

    .title-head span {
        font-size: 35px;
        color: white;
        text-align: right;
        float: right;
        line-height: 25px;
        font-family: 'Roboto', sans-serif;
    }

/*-----------------------------------------------------------*/
.login-FFF {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

    .login-FFF > label {
        display: block;
        float: left;
    }

    .login-FFF .Image1, .Image2 {
        display: inline-block;
        float: right;
        height: 40px;
        width: 10%;
        border: 1px solid #767775;
        box-sizing: border-box;
    }

    .login-FFF .Image1 {
        background: url(AdditionalFiles/Icon/user.png) no-repeat center;
    }

    .login-FFF .Image2 {
        background: url(AdditionalFiles/Icon/pass-lock.png) no-repeat center;
    }

    .login-FFF input[type=text],
    .login-FFF input[type=password],
    .editor-field input[type=text],
    .editor-field input[type=password],
    .editor-field input[type=email] {
        padding: 2px 5px;
        background-color: transparent;
        width: 90%;
        height: 40px;
        border: 1px solid #767775;
        border-right: none;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        color: white;
        margin-bottom: 5px;
        box-sizing: border-box;
    }

/*-----------------------------------------------------------*/
.login-confirm {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid white;
}

    .login-confirm .FirstButton, .login-confirm .SecondButton {
        width: 50%;
        height: 50px;
    }

        .login-confirm .FirstButton label > input[type="submit"],
        .registration-form input[type=submit],
        .form-news-adding input[type=submit],
        .form-news-edit input[type=submit] {
            width: 80%;
            height: 40px;
            background-color: transparent;
            font-size: 20px;
            font-family: 'PT Sans', sans-serif;
            color: white;
            border: 1px solid white;
        }

    .login-confirm .SecondButton {
        text-align: right;
    }

        .login-confirm .SecondButton span a {
            padding: 8px;
            font-size: 20px;
            font-family: 'PT Sans', sans-serif;
            color: #767775;
            line-height: 40px;
            text-decoration: none;
        }

/*-----------------------------------------------------------*/
.login-footer {
    width: 100%;
    border-bottom: 2px solid white;
}

    .login-footer div:first-child {
        color: white;
        font-family: 'PT Sans', sans-serif;
        font-size: 20px;
    }

    .login-footer div:last-child {
        display: block;
        width: 280px;
        padding: 10px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    .login-footer ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

        .login-footer ul li {
            display: inline-block;
            width: 50px;
            height: 50px;
            border: 1px solid white;
            margin: 5px;
            background: url("AdditionalFiles/Sprite/white_sprait.png") no-repeat;
            background-size: 250px 100px;
        }

            .login-footer ul li a {
                display: block;
                width: 50px;
                height: 50px;
            }

            .login-footer ul li:nth-child(1) {
                background-position: 0 0;
                background-color: #d84835;
            }

            .login-footer ul li:nth-child(2) {
                background-position: 25% 0;
                background-color: #1da0f1;
            }

            .login-footer ul li:nth-child(3) {
                background-position: 75% 0;
                background-color: #4867a9;
            }

            .login-footer ul li:nth-child(4) {
                background-position: 0 100%;
                background-color: #3f5d80;
            }

/*---------------------------------------------Регистрация---------------------------------------------*/
.Section-Registration {
    width: 500px;
    height: auto;
    padding: 10px;
    /*border: 1px solid white;*/
}

.editor-field input[type=text],
.editor-field input[type=password],
.editor-field input[type=email] {
    width: 100%;
    border: 1px solid #767775;
}

.editor-label {
    color: white;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    padding: 5px;
    box-sizing: border-box;
}

.registration-form input[type=submit] {
    width: 100%;
    margin: 15px 0;
}

.form-reg {
    border-bottom: 2px solid white;
}
/*---------------------------------------------Добавление и редактирование новости---------------------------------------------*/
.form-news-adding input[type=submit],
.form-news-edit input[type=submit] {
    width: 100%;
}
.form-news-adding .editor-field > textarea,
.form-news-edit .editor-field > textarea{
    resize: none;
    width: 760px;
    height: 130px;
    font-family: "Lora", "sans-serif";
    font-size: 18px;
}