html, body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: linear-gradient(73deg, rgba(36,36,36,1) 0%, rgba(59,79,96,1) 40%, rgba(122,101,77,1) 97%, rgba(122,101,77,1) 100%); /* w3c */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    position: fixed;
    top: 0;
    z-index: 100;
    height: 60px;
    width: 100%;
    min-width: inherit;
    padding: 0 10%;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    background-color: #252525;
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 60px;
    padding: 5px 0;
    box-sizing: border-box;
    font-family: 'Georgia', sans-serif;
}

footer {
    width: 100%;
    min-height: 60px;
    background-color: #252525;
    bottom: 0;
    border-top: 1px solid white;
    padding: 0 80px;
    box-sizing: border-box;
}

/*-----------------------Header---------------------------*/
header div {
    width: 50%;
}

    header div:first-child {
        float: left;
    }

        header div:first-child a {
            font-size: 50px;
            text-decoration: none;
            color: white;
        }

    header div:last-child {
        float: right;
        height: 60px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

        header div:last-child span {
            width: 180px;
            text-align: right;
        }

        header div:last-child a {
            font-size: 15px;
            color: white;
            text-decoration: none;
        }

            header div:last-child a:last-child {
                margin-left: 10px;
            }

        header div:last-child .item-menu-min {
            display: none;
            width: 48px;
            height: 48px;
            background: transparent url(/Content/AdditionalFiles/Icon/burger-menu.png) no-repeat center;
            float: right;
        }

footer > section {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-authors {
    text-align: center;
    color: white;
    font-size: 10px;
    font-family: 'PT Sans', sans-serif;
}
/*ScrollBar*/
html body::-webkit-scrollbar {
    width: 6px;
}

html body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 2px 0 0 2px;
}

    html body::-webkit-scrollbar-thumb:hover {
        border-width: 1px 1px 1px 2px;
        border-color: #555;
        background-color: #777;
    }

html body::-webkit-scrollbar-track {
    border-width: 0;
}

    html body::-webkit-scrollbar-track:hover {
        border-left: solid 1px #aaa;
        background-color: #eee;
    }
/*Radio*/
.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}

    .radio + label {
        position: relative;
        cursor: pointer;
        padding: 5px 5px 5px 35px;
        border-radius: 2px;
        font-size: 15px;
        color: white;
    }

        .radio + label:before {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            width: 22px;
            height: 22px;
            border: 1px solid #CDD1DA;
            border-radius: 50%;
            background: #FFF;
        }

        .radio + label:after {
            content: '';
            position: absolute;
            top: 6px;
            left: 6px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #42ff3e;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
            opacity: 0;
            transition: .2s;
        }

    .radio:checked + label:after {
        opacity: 1;
    }

.database-menu-min {
    display: none;
    padding: 10px;
    margin: 5px;
}

@media screen and (min-width: 1024px) and (max-width:1280px) {


    .Section-NewsEdit {
        width: 50%;
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {

    .Section-NewsEdit {
        width: 75%;
    }
}

@media screen and (min-width: 320px) and (max-width: 660px) {
    .database_menu {
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width:767px) {
    .background-text span:first-child {
        font-size: 60px;
    }

    .background-text span:last-child {
        font-size: 50px;
    }

    .Section-NewsEdit {
        width: 85%;
    }
}

@media screen and (min-width: 320px) and (max-width:520px) {

    html body::-webkit-scrollbar {
        width: 0;
    }

    header {
        position: inherit;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
    }

        header > div {
            width: auto;
            box-sizing: border-box;
        }

        header div:first-child a {
            font-size: 50px;
        }

    .background-text span:first-child {
        font-size: 14vw;
    }

    .background-text span:last-child {
        font-size: 12vw;
    }

    main {
        margin-top: 0;
    }

        main .news-item article,
        main .Preview article {
            width: 400px;
        }

    .popup-window {
        width: 400px;
    }

    header div:last-child span {
        display: none;
    }

    header div:last-child {
        padding: 5px 0;
    }

        header div:last-child .item-menu-min {
            display: block;
        }

    .item-menu-min ul {
        display: none;
        padding: 15px 15px 15px 15px;
        position: absolute;
        left: 0;
        top: 35px;
        z-index: 2;
        background-color: rgba(37, 37, 37, 1);
        box-sizing: border-box;
        border-radius: 0 0 8px 8px;
        list-style-type: none;
    }

    header div:last-child:hover .item-menu-min ul {
        display: block;
        width: 100%;
    }

    .item-menu-min ul li a {
        display: block;
        text-decoration: none;
        padding: 5px;
        color: white;
        font-family: "Roboto", "sans-serif";
        font-size: 14px;
        text-align: center;
        border-bottom: 1px solid white;
    }

        .item-menu-min ul li a:hover {
            color: white;
            background-color: #37ABFF;
            display: block;
        }

    .news-head .add-icon, .news-head .sort-icon {
        display: none;
    }

    .popup-window-head p {
        font-size: 20px;
    }

    .Section-NewsEdit {
        width: 95%;
    }

    .footer-authors {
        font-size: 8px;
    }

    .item-menu-min > ul > li:last-child {
        display: flex;
        justify-content: center;
    }

    .database-menu-min {
        display: inline-block;
        border-bottom: 1px solid white;
    }
}

@media screen and (min-width: 320px) and (max-width:400px) {
    main .news-item article,
    main .Preview article {
        width: 320px;
    }

    .popup-window {
        width: 320px;
    }

    .Section-NewsEdit {
        width: 95%;
    }
}
