@model NewsPortal.Models.ViewModels.RegisterInputVM

@section StyleSheet{
    <link rel="stylesheet" href="~/Content/StyleSheet_ServicePages.css" />
}

<section class="Section-Registration">
    <div class="title-head">
        <span>
            Регистрация
        </span>
    </div>
    <div class="form-reg">
        @using (Html.BeginForm("Index", "Registration", FormMethod.Post, new { @class = "registration-form" }))
        {
            @Html.EditorForModel()
            <input type="submit" value="Регистрация" />
        }
    </div>
</section>