@section StyleSheet{
    <link rel="stylesheet" href="~/Content/StyleSheet_ServicePages.css" />
}

<section class="Section-Authorization">
    <div class="title-head">
        <span>Авторизация</span>
    </div>
    <!-- Fields for filling-->
    <div class="login-FFF">
        <div>
            @*<label>
                <input type="text" name="Login">
            </label>*@

            <div class="Image1">
                @*<img src="~/Content/AdditionalFiles/Icon/user.png">*@
            </div>
        </div>
        <div>
            <label>
                <input type="password" name="Password">
            </label>
            <div class="Image2">
                <!--<img src="../AdditionalFiles/pass-lock.png">-->
            </div>
        </div>
    </div>
    <div class="login-confirm">
        <div class="FirstButton">
            <label>
                <input type="button" name="Authorization" value="Войти">
            </label>
        </div>
        <div class="SecondButton">
            <span>
                <a href="#">Забыли пароль?</a>
            </span>
        </div>
    </div>
    <div class="login-footer">
        <div>
            <span>Авторизоваться через:</span>
        </div>
        <div>
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
    </div>
</section>

